<div>

  <div class="pane1 footer_text">

    <h3>Frenchychef.com</h3>
    <p>8215 San Carlos cir.</p>
    <!-- <p></p> -->
    <p>Tamarac Florida,FL 33301 </p>
    <!-- <p></p> -->

  </div>

  <div class="created">
    Created by ec-home automation Copyright©2020, Lima Peru.
  </div>
</div>
