<p>RESERVATIONS</p>

<p>The price for dinner at Masa is $595 per person, not including beverages and tax. Please allow approximately two hours for the dining experience. The dress code is casual and comfortable.
Gratuities are not expected or accepted at Masa. Reflecting the Japanese custom, exceptional hospitality is an integral part of the Masa dining experience and is provided to every guest. Both cash and credit card gratuities will be respectfully declined. Corkage is $150 per bottle, maximum of 2 bottles. Please note we do not allow bottles currently offered on our beverage menu.
Please be advised of our Cancellation Policy should you need to cancel, change your reservation date, or decrease the number of guests. For parties up to 4 guests, cancellations must be made at least 48 hours prior to the reservation date. For parties of 5 or more, cancellations must be made at least one week (7 days) prior to the reservation date. Please note failure to cancel before your cancellation window forfeits your deposit.</p>
