<script>

$(document).ready(function(){
  // $("button").click(function(){
  //   $("p").slideToggle();
  // });
  console.log("jquery its on");
  //  document.getElementById('vid').play();
});

</script>
<div class="video_viewport" style="width: 2410px; height: 624px;">
  <video  autoplay="" loop volume=1 preload=""; class="bg_video" style="width: 2410px; height: 1205px;">
   <source src="images/masa-long.mp4" type="video/mp4">
  Your browser does not support the video tag.
  </video>
  <div id="video-controls">
    <a class="videoPause paused"></a>
    <a class="videoMute"></a>
  </div>
<div class="">
  <h1 data-content-field="site-title" class="site-title">
                <a href="/" id="top">
                   <img src="//static1.squarespace.com/static/534448f8e4b050a8ed55dddb/t/53454bf5e4b0918d393d5ae0/1581103635827/?format=1500w" alt="Masa">
                </a>
              </h1>
</div>
</div>

  <header id="header" class="sqs-announcement-bar-dropzone" style="top: 607px;">
    <div class="sqs-cart-dropzone" style="position: fixed; top: 0px;"></div>
    <div class="title-nav-wrapper">

      <h1 data-content-field="site-title" class="site-title">
        <a href="/" id="top">

          <img src="//static1.squarespace.com/static/534448f8e4b050a8ed55dddb/t/53454bf5e4b0918d393d5ae0/1581103635827/?format=1500w" alt="Masa">

        </a>
      </h1>
      <a class="icon-menu" id="mobileMenu"></a>

      <!--MAIN NAVIGATION-->
      <div id="miniLogo">
        <a href="#">
          <img src="http://static.squarespace.com/static/534448f8e4b050a8ed55dddb/t/5345716ae4b017303782b4b5/1397059946182/masa-mini-logo.png">
        </a>
      </div>
      <div id="desktopNav" data-content-field="navigation-mainNav" data-annotation-alignment="bottom left">

        <nav class="main-nav">
          <div class="nav-wrapper">
            <ul class="cf">

              <li class="external-link">
                <a href="#masa"><span>Masa Takayama</span></a>
              </li>

              <li class="external-link">
                <a href="#experience"><span>Experience</span></a>
              </li>

              <li class="external-link">
                <a href="#reservations"><span>Reservations</span></a>
              </li>

              <li class="external-link">
                <a href="https://gatherhere.com/inquiries/wc5vy8xp" target="_blank"><span>Private Events</span></a>
              </li>

              <li class="external-link">
                <a href="http://www.masadesigns.com"><span>Masa Designs</span></a>
              </li>

            </ul>
          </div>
        </nav>

      </div>
    </div>
  </header>



<h1>{{texto1}}</h1>
<p>Welcome to {{title}}</p>

<div class="foto_bg">
  <!-- <img src="images/foto1.jpg" alt="foto1"> -->
</div>

{{> reservations}}
