body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

footer {
  width: 100%;
  background-color: black;
  color: white;
  position: fixed;
  padding: 50px;
}
